@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  margin: 0;

  padding: 0;

  color: white;

  font-family: sans-serif;
}

body{
  background-color: #191919;
}

.jett-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-image: url(./gif/background-jett.gif);
}

.jett-container svg{
  position: absolute;
  bottom: 0;

  margin-bottom: 20px;

  display: none;
}

.jett-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  position: relative;

  margin-top: 40px;
  margin-left: 60px;
}

.jett-content img{
  width: 100%;
  max-width: 500px;
  
}

.jett-text h1{
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  font-size: 2.8rem;
}

.jett-text h1 img{
  width: 30px;

  margin-bottom: 16px;
}

.jett-biografia-text{
  max-width: 300px;

  margin-top: 20px;
  margin-bottom: 60px;
}

.line{
  border: solid 1px white;
  
  opacity: 40%;
}

/* Skills area */

.skills-container{
  background-color: #ede7e0;

  background-image: url(https://preview.redd.it/hi6ssqiitj251.png?width=3840&format=png&auto=webp&s=3f03452d63331fa90be8a4fd745e6466cf06e5fa);
}

.skills-content{
  padding: 100px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Q-video {
  width: 100%;
  max-width: 600px;

  border-radius: 6px;
}

.habilidades-text h1{
  color: #0c1925;

  font-family: 'Anton', sans-serif;
}

ul{
  list-style: none;

  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul li{
  color: #0c1925;
}

ul li:not(:last-child){
  margin-right: 20px;
}

ul li img{
  background-color: #9e3241;

  padding: 4px;

  border-radius: 2px;

  max-width: 60px;

  cursor: pointer;
}

.skill-Q{
  color: #0c1925;

  font-family: Roboto;
  font-weight: 300;

  padding-left: 20px;
}

/* Agentes container area */

.agentes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agentes-container li{
  color: white;

  font-size: 6rem;
  font-family: 'Anton', sans-serif;

  cursor: pointer;
  
}

.agentes-container li:hover{
  color: #ff4b58;

  margin-left: 20px;
}

.agentes-container .active-link{
  color: #ff4b58;
}

a{
  text-decoration: none;
}

@media (max-width: 983px){
  .Q-video{
    margin-top: 60px;
  }
}

@media (max-width: 1119px){

  .agentes-container{
    display: none;
  }

  .jett-container svg{
    display: block;
  }

}